<p id="notice"><%= notice %></p>

<h1>Listing Dynamic Project Pages</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dynamic_project_pages.each do |dynamic_project_page| %>
      <tr>
        <td><%= link_to 'Show', dynamic_project_page %></td>
        <td><%= link_to 'Edit', edit_dynamic_project_page_path(dynamic_project_page) %></td>
        <td><%= link_to 'Destroy', dynamic_project_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dynamic project page', new_dynamic_project_page_path %>
