<style type="text/css">
	.tab-content .form-group{
		padding-bottom: 50px;
	}
	.text-align-reverse{
		float: right;
	}
	.text-align-reverse li{
		list-style: none;
	}
</style>

<div class="page-content-wrapper">
		<div class="page-content">
			<div class="row">
				<div class="col-md-12">
					<%= form_for([:administrator, @post], :multipart => true ) do |f| %>
						<div class="portlet light">
							<div class="portlet-title">
								<div class="caption">
									<span class="caption-subject font-blue-madison bold uppercase">
									<%= @post.title %> </span>
									<span class="caption-helper">редактирование записи</span>
								</div>
								<div class="actions btn-set">
									<a href="/administrator/posts" class="btn btn-default btn-circle"> Назад </a>
									 <%= f.submit(class: "btn blue-madison btn-circle", value: "Обновить") %>
									<!-- <button class="btn green-haze btn-circle">Сохранить</button>
									-->
								</div>
							</div>
							<div class="portlet-body">
								<div class="tabbable">
									<ul class="nav nav-tabs">
										<li class="active">
											<a href="#tab_general" data-toggle="tab">
											Основное </a>
										</li>

										<li>
											<a href="#to_main" data-toggle="tab">
											Публикация на главной </a>
										</li>
										
										<li>
											<a href="#tab_images" data-toggle="tab">
											Изображения </a>
										</li>
										<li>
											<a href="#tab_seo" data-toggle="tab">
											SEO
											</a>
										</li>
									</ul>
									<div class="tab-content no-space">
										<div class="tab-pane active" id="tab_general">
											<div class="form-body">
												<div class="form-group">
													<label class="col-md-2 control-label">Название: </span>
													</label>
													<div class="col-md-10">
														 <%= f.text_field :title, class: "form-control" %>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-2 control-label">Лид: </span>
													</label>
													<div class="col-md-10">
														 <%= f.text_area :lead, class: "form-control" %>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-2 control-label">Категория: </span>
													</label>
													<div class="col-md-10">
														 <%= f.select :post_category_id , PostCategory.all.collect {|category| [category.title, category.id ]}, class: "form-control" %>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-2 control-label">Текст: </span>
													</label>
													<div class="col-md-10">
														 <%= f.cktext_area :text, class: "form-control edit" %>
													</div>
												</div>


											</div>
										</div>
										<div class="tab-pane" id="to_main">
											<div class="form-body">
												<div class="row static-info">
															<div class="col-md-3 name">
																Публикация на главной странице
															</div>
															<div class="col-md-9 value">
																<%= f.select(:to_main_page, options_for_select([['Да', true], ['Нет', false]],  selected: @post.to_main_page), {include_blank: 'Не выбрано' }, {class: "btn"}) %>
															</div>
												</div>

												<div class="row static-info">
															<div class="col-md-3 name">
																Лид
															</div>
															<div class="col-md-9 value">
																<%= f.text_area :mini_lead, class: "form-control" %>
															</div>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="tab_images">
								<div class="form-body">
									<div id="tab_images_uploader_container" class="text-align-reverse margin-bottom-10 buttons_actions">
										<ul>
											<li><%= f.file_field :avatar, class: "btn blue-madison-hoki", id: "tab_images_uploader_pickfiles" %></li>
										</ul>
									</div>
									<div class="row">
										<div id="tab_images_uploader_filelist" class="col-md-6 col-sm-12">
										</div>
									</div>
									<div class="form-group no_padding_bottom">
										<table class="table table-bordered table-hover">
											<thead>
												<tr role="row" class="heading">
													<th width="11%">
														Аватар
													</th>
													<th width="88%">
													</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<a href="#" class="fancybox-button" data-rel="fancybox-button">
															<img class="img-responsive" src="<%= @post.avatar.mini_admin %>" alt="">
														</a>
													</td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
										<div class="tab-pane" id="tab_seo">
											<div class="form-group">
													<label class="col-md-2 control-label">Title: </span>
													</label>
													<div class="col-md-10">
														 <%= f.text_area :meta_title, class: "form-control" %>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-2 control-label">Description: </span>
													</label>
													<div class="col-md-10">
														 <%= f.text_area :meta_description, class: "form-control" %>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-2 control-label">Keywords: </span>
													</label>
													<div class="col-md-10">
														 <%= f.text_area :meta_keywords, class: "form-control" %>
													</div>
												</div>
												</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<% end %>

				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>

</div>

