<%= render '/layouts/basic_styles.html.erb' %>

<div class="buy_page">
  <%# render_cell :property, :sidebar, for: @property.property_for, city: @property.city %>

  <div class="buy_item">
      
    <div class="modal">
  <input class="modal-open" id="modal-1" type="checkbox"  hidden>
  <div class="modal-wrap" aria-hidden="false" role="dialog">
    <label class="modal-overlay" for="modal-1"></label>
    <div class="modal-dialog">
      <div class="modal-header">
        <h2>Уведомление </h2>
        <label class="btn-close" for="modal-1" aria-hidden="true">×</label>
      </div>
      <div class="modal-body">
        <p>Ваш запрос отправлен</p>
      </div>
    
        </div>
      </div>
    </div>



    <div class="project_heading">
      <div class="item_price">id: 12345</div>
      <h1 class="h1">Название проекта </h1>
    </div>
    <div class="buy_item_text">
      <div class="buy_item_photos clearfix">
        <div class="fotorama">
          <img src="http://dummyimage.com/600x399/333/fff" />
          <img src="http://dummyimage.com/600x399/333/fff" />
          <img src="http://dummyimage.com/600x399/333/fff" />
          <img src="http://dummyimage.com/600x399/333/fff" />
        </div>
      </div>
      
      <div class="buttons" id='basic-modal'>
            
       <label class="more" for="send_add">Узнать больше</label>
       <a href="#">Посмотреть</a>
      </div>
    
      <div class="clear"></div>
    </div>


    <div class="modal">
  <input class="modal-open" id="send_add" type="checkbox" hidden>
  <div class="modal-wrap" aria-hidden="true" role="dialog">
    <label class="modal-overlay" for="modal-2"></label>
    <div class="modal-dialog">
      <div class="modal-header">
        <h2>Узнать больше</h2>
        <label class="btn-close" for="send_add" aria-hidden="true">×</label>
      </div>
      <div class="modal-body">
          <form>
          <p>Прошу выслать информацию по объекту id: <%= @project.id %></p>
           <input name="name" placeholder="Укажите ваше имя" class="textbox" required />
           <input name="name" placeholder="Укажите ваш Email" class="textbox" required />
              <input name="submit" class="btn btn-form sub" type="submit" value="Отправить" />
          </form>
      </div>
    </div>
  </div>
</div>



    
    <div class="buy_item_info">
      <div class="price_area">
        <span>цена: 2000$ - 4000$</span>
      </div>
      <div class="project_info project_params">
        <div class="line bg_dark"><span class="type">Вид сделки:</span>  <span class="value"> Продажа</span></div>
        <div class="line bg_light"><span class="type">Район:</span>  <span class="value"> Макмутлар</span></div>
        <div class="line bg_dark"><span class="type">Тип объекта:</span>  <span class="value"> квартира и пентхаус</span></div>
        <div class="line bg_light"><span class="type">Площадь:</span>  <span class="value"> 216 м2</span></div>
        <div class="line bg_dark"><span class="type">Состояние:</span>  <span class="value"> строящийся объект</span></div>
        <div class="line bg_light"><span class="type">До центра:</span>  <span class="value"> 200 м</span></div>
        <div class="line bg_dark"><span class="type">До аэропорта:</span>  <span class="value"> 100 м</span></div>
        <div class="line bg_light"><span class="type">Год постройки:</span>  <span class="value"> 08.2015</span></div>
      </div>
      <div class="price_area to_coast">
        <span>в стоимость входит</span>
      </div>
      <div class="project_info to_coast_list">
        <div class="line bg_dark">Кондиционеры</div>
        <div class="line bg_dark">Водонагреватели</div>
        <div class="line bg_dark">Оформление ТАПУ</div>
        <div class="line bg_dark">Оформление ТАПУ</div>
        <div class="line bg_dark">Оформление ТАПУ</div>
      </div>
      <div class="project_info credit">
        <form action="#" method="post" id="calculator">

   <label>Первоначальный взнос: </label>
   <div class="input" id="cor5">
   <input name="first_pay" value="3000" id="posName" type="text" />
   </div>

   <label>Срок кредита, лет: </label>
   <div class="input" id="cor5">
   <input name="year" value="5" id="1" type="text" />
   </div>
   
   <label>Процентная ставка: </label>
   <div class="input" id="cor5">
   <input name="procent" value="10" type="text" />
   </div>

<label>Ежемесячный платеж: </label>
   <div class="input" id="cor5">
   <input name="platez" value=""  type="text" readonly/>
   </div>
<button type="button" class="credit_condirm" id="send4">посчитать</button>
</form>

      </div>


    </div>

    <div class="description_project">
      <%= @project.description.html_safe %>
      <div class="buttons_before_qus">
        <div class="share">
          Здесь код кнопок
        </div>
        <a class="print" href="#">Печать</a>
        <label class="send" for="to_email">Отправить по email</label>
      </div>
    </div>

<div class="modal">
  <input class="modal-open" id="to_email" type="checkbox" hidden>
  <div class="modal-wrap" aria-hidden="true" role="dialog">
    <label class="modal-overlay" for="modal-2"></label>
    <div class="modal-dialog">
      <div class="modal-header">
        <h2>Отправить по email</h2>
        <label class="btn-close" for="to_email" aria-hidden="true">×</label>
      </div>
      <div class="modal-body">
          <form>
             <input name="name" placeholder="Укажите ваш Email" class="textbox" required />
              <input name="submit" class="btn btn-form sub" type="submit" value="Отправить" />
          </form>
      </div>
    </div>
  </div>
</div>


 <div class="managers_list">
  <ul>
    <li>
      <div class="manager">
        <div class="photo">
          <img src="/test.png">
        </div>
        <div class="description">
          <span class="field name">Имя и фамилия</span>
          <span class="field post">Менеджер по продажам</span><br />
          <span class="field skype_man">Skype: skypename</span><br/>
          <span class="field languages">Языки: Русский</span><br/>
          <span class="field mail">12@mail.ru</span><br/>
          </div>
      </div>
    </li>
    <li>
      <div class="manager">
        <div class="photo">
          <img src="/test.png">
        </div>
        <div class="description">
          <span class="field name">Имя и фамилия</span><br/>
          <span class="field post">Менеджер по продажам</span><br />
          <span class="field skype_man">Skype: skypename</span><br/>
          <span class="field languages">Языки: Русский</span><br/>
          <span class="field mail">12@mail.ru</span><br/>
          </div>
      </div>
    </li>
    <li>
      <div class="manager">
        <div class="photo">
          <img src="/test.png">
        </div>
        <div class="description">
          <span class="field name">Имя и фамилия</span><br/>
          <span class="field post">Менеджер по продажам</span><br/>
          <span class="field skype_man">Skype: skypename</span><br/>
          <span class="field languages">Языки: Русский</span><br/>
          <span class="field mail">12@mail.ru</span><br/>
          </div>
      </div>
    </li>
  </ul>
</div>
<%= render 'layouts/ask_form' %>    
  </div>
<%= render 'layouts/sidebar' %>
<div class="clear"></div>

</div>