<%= render '/layouts/basic_styles.html.erb' %>

<div class="buy_page sity">
  <%# render_cell :property, :sidebar, for: @property.property_for, city: @property.city %>

  <div class="buy_item">
      
    <div class="modal">
  <input class="modal-open" id="modal-1" type="checkbox"  hidden>
  <div class="modal-wrap" aria-hidden="false" role="dialog">
    <label class="modal-overlay" for="modal-1"></label>
    <div class="modal-dialog">
      <div class="modal-header">
        <h2>Уведомление </h2>
        <label class="btn-close" for="modal-1" aria-hidden="true">×</label>
      </div>
      <div class="modal-body">
        <p>Ваш запрос отправлен</p>
      </div>
    
        </div>
      </div>
    </div>



    <div class="project_heading">
      <h1 class="h1"><%= @page.title %></h1>
    </div>

   <div id="content">

   <ul class="sity_images">
    <% @project_categories.each do |project_category| %>
     <li>
       <a rel="example_group" href="<%= project_category_path(project_category) %>" ><img alt="" src="<%= project_category.avatar.normal %>" /></a>
       <a class="title" href="<%= project_category_path(project_category) %>"><%= project_category.title %></a>
     </li>
     <% end %>
   </ul>

   <div class="desc">
     <%= @page.description.html_safe %>
   </div>

</div>


  </div>
<%= render 'layouts/sidebar' %>
<div class="clear"></div>

</div>
