<% provide(:title, @project_category.meta_title) %>
<% provide(:description, @project_category.meta_description) %>
<% provide(:keywords, @project_category.meta_keywords) %>
<%= render '/layouts/basic_styles.html.erb' %>
<div class="buy_page sity">
  <%# render_cell :property, :sidebar, for: @property.property_for, city: @property.city %>

  <div class="buy_item">
      
    <div class="modal">
  <input class="modal-open" id="modal-1" type="checkbox"  hidden>
  <div class="modal-wrap" aria-hidden="false" role="dialog">
    <label class="modal-overlay" for="modal-1"></label>
    <div class="modal-dialog">
      <div class="modal-header">
        <h2>Уведомление </h2>
        <label class="btn-close" for="modal-1" aria-hidden="true">×</label>
      </div>
      <div class="modal-body">
        <p>Ваш запрос отправлен</p>
      </div>
    
        </div>
      </div>
    </div>



    <div class="project_heading">
      <h1 class="h1"><%= @project_category.title %></h1>
    </div>

   <div id="content">

   <ul class="sity_images">
    <%  @project_category_attachments.each do |attachment| %>
     <li>
       <a rel="example_group" href="<%= attachment.image.normal %>" ><img alt="" src="<%= attachment.image.normal %>" /></a>
     </li>
     <% end %>
   </ul>


  

   <div class="desc">
    <%= @project_category.description.html_safe %>
   </div>

</div>



  <%= render 'layouts/ask_form' %>    

  </div>
<%= render 'layouts/sidebar' %>
<div class="clear"></div>

</div>
