<%= render '/layouts/basic_styles.html.erb' %>
<style>
.wide-container {
max-width: 700px;
height: 500px;
margin: 0 auto;
}

.mini-lead{
  line-height: 10px !important; 
}
</style>
<div class="buy_page index_project">
  <%# render_cell :property, :sidebar, for: @property.property_for, city: @property.city %>
  <div class="buy_item">
    <div id="demo">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div id="owl-demo" class="owl-carousel">
            
              <% @slider.slides.each do |slide| %>
              <div class="item"><img src="<%= slide.image.normal %>" alt="The Last of us">
                
                <div class="description">
                  <span class="info">
                    <span class="first"><%= slide.title %></span>
                    <span class="price"><%= slide.price %>$</span>
                    <span class="second"><%= slide.content %></span>
                  </span>
                  <div class="spoler">
                    <span><%= slide.description %> <a href="<%= slide.link %>">далее</a></span>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page_row main_page_description">
      <div class="heading">
        <span>Недвижимость в Турции от застройщика</span>
      </div>
      <div class="content">
        <%= @page.content.html_safe %>
        <div>
 <a href="" class="spoiler_links">Развернуть</a>
 <div class="spoiler_body">
    <%= @spoiler_content.value.html_safe %>
 </div>
</div>
      </div>
    </div>
    <ul class="apartment_list home_products clearfix">
      <% @projects.each do |project| %>
      <% if @i < 4 %>
      <li class="li">
        <div class="apatment_list_top">
          <div class="apatment_list_bot clearfix">
            <% if project.custom_sku == false %>
            <span class="sku">id: <%= project.id %></span>
            <% else %>
            <span class="sku">id: <%= project.sku %></span>
            <% end %>
            <img src="<%= project.avatar.normal %>">
            
            <div class="title"><a href="<%= project_path(project) %>"><%= project.name %></a></div>
            <table class="table">
              <tr>
                <th>город:</th>
                <td><%= project.project_category.title %></td>
              </tr>
              <tr>
                <th>комнат/спален:</th>
                <td><%= project.rooms %></td>
              </tr>
            </table>
            <a class="btn" href="<%= project_path(project) %>">Подробнее</a>
            <div class="prise"><%= number_to_currency(project.final_price, unit: "", delimiter: " ' ",  format: "%n %u", precision: 0) %>&euro;</div>
          </div>
        </div>
      </li>
      <% @i = @i + 1 %>
      <% else %>
      <li class="clear">
        <% @i = 1 %>
        <% end %>
        
        <% end %>
      </ul>
      <div class="page_row main_page_description">
        <div class="heading">
          <span>Почему выгодно приобретать недвижимость в Турции</span>
        </div>
        <div class="content">
          <%= @block2.value.html_safe %>
        </div>
      </div>
      <div class="page_row">
        <div class="heading">
          <span>Полезные новости</span>
        </div>
        <div class="content " style="padding: 0px;">
          <ul class="news_line">
            <% @helpful_news.each do |post| %>
            <li>
              <span class="title"><%= link_to post.title, post_category_post_url(post.post_category, post) %></span>
              <img src="<%= post.avatar.normal %>" class="avatar">
              <span class="mini-lead">
                <%= post.mini_lead %>
              </span>
              <a href="<%= post_category_post_url(post.post_category, post) %>" class="more">Подробнее</a>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="page_row">
        <div class="heading">
          <span>Полезные статьи</span>
        </div>
        <div class="content " style="padding: 0px;">
          <ul class="news_line">
            <% @helpful_posts.each do |post| %>
            <li>
              <span class="title"><%= link_to post.title, post_category_post_url(post.post_category, post) %></span>
              <img src="<%= post.avatar.normal %>" class="avatar">
              <span class="mini-lead">
                <%= post.mini_lead %>
              </span>
              <a href="<%= post_category_post_url(post.post_category, post) %>" class="more">Подробнее</a>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="page_row main_page_description">
        <div class="heading">
          <span>Недвижимость в Турции</span>
        </div>
        <div class="content">
        <%= @block2.value.html_safe %>
        </div>
      </div>
      <div class="page_row">
        <div class="heading">
          <span><a href="/events">Участие в выставках</a></span>
        </div>
        <div class="content">
          <ul class="wiget_events_list">
            <% @events.each do |event| %>
            <li>
              <img src="<%= event.avatar.main_mage %>" class="avatar"/>
              <span class="title"><%= event.title %></span>
              <span class="description"><%= event.date.to_date %></span>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      
    </div>
    <%= render 'layouts/sidebar' %>
    <div class="clear"></div>
  </div>