<% provide(:title, @page.meta_title) %>
<% provide(:description, @page.meta_description) %>
<% provide(:keywords, @page.meta_keywords) %>
<%= render '/layouts/basic_styles.html.erb' %>

<div class="buy_page company_info">
  <%# render_cell :property, :sidebar, for: @property.property_for, city: @property.city %>

  <div class="buy_item">
    <% if flash[:notice] %>

    <div class="modal">
  <input class="modal-open" id="modal-1" type="checkbox" checked hidden >
  <div class="modal-wrap" aria-hidden="false" role="dialog">
    <label class="modal-overlay" for="modal-1"></label>
    <div class="modal-dialog">
      <div class="modal-header">
        <h2>Уведомление </h2>
        <label class="btn-close" for="modal-1" aria-hidden="false">×</label>
      </div>
      <div class="modal-body">
        <p><%= flash[:notice] %></p>
      </div>
    
        </div>
      </div>
    </div>

<%  end  %>


    <div class="project_heading">
      <h1 class="h1">Наша история</h1>
    </div>

    <div class="persons_list">
      <ul>
        <% @managers.each do |manager| %>
        <li>
          <img src="<%= manager.avatar.company_info %>" class="avatar">
          <span class="name"><%= manager.name %></span>
          <span class="post"><%= manager.description %></span>
        </li>
        <% end %>
      </ul>
    </div>


<div class="text">
  <%= @page.content.html_safe %>
</div>

<div class="video">
  <iframe  src="<%= @youtube_link.value  %>" frameborder="0" allowfullscreen></iframe>
</div>

  </div>
<%= render 'layouts/sidebar' %>
<div class="clear"></div>

</div>