<div class="form_question">
<div class="heading">
  <span>Задайте свой вопрос</span>
</div>
  <%= form_for(@question) do |f| %>
    <div class="fields_left">
      <div class="form_group">
        <label > Имя</label>
        <%= f.text_field :name %>
      </div>
      <div class="form_group">
        <label > Телефон</label>
        <%= f.text_field :phone %>
      </div>
    </div>
    <div class="fields_right">
      <div class="form_group">
        <label > Email</label>
        <%= f.text_field :email %>
      </div>
      <div class="form_group">
        <label > Skype</label>
        <%= f.text_field :skype %>
      </div>
    </div>
    <div class="msg">
        <label > Сообщение</label>
        <%= f.text_field :message %>
    </div>
    <div class="button">
        <input type="submit" class="sub" value="Отправить" >
    </div>
  <% end %>
</div>
