<style type="text/css">
.distnce_list ul li {
font-size: 10px;
}
.distnce_list ul li .value{
font-size: 10px;
float: left;
clear: both;
padding-left: 10px;
font-family: Verdana;
}
input.home.synch-icon + label > span.labelauty-checked-image{
display: none;
}
.filter_label_holder{
margin-left: 0 !important;
}
.input.home:not(:checked):not([disabled]) + label:hover{
background-color: none !important;
}
.has-tooltip {
cursor: auto;
font-size: 14px;
font-family: Verdana;
}

.types_list ul li{
  display: inline-table;
  margin-right:  7px;
  font-weight: normal;
  font-family: Verdana;
}

.types_list ul li label{
    float: left;
    line-height: 9px;
    padding: 6px 8.5px;
}

.types_list ul li label span{
  margin-left: 0 !important;
}

input.labelauty.synch-icon + label > span.labelauty-checked-image{
  display: none !important;
  font-family: Verdana !important; 
}
input.type_project.synch-icon + label{
  background-color: #00aeac;
  color: white;
  font-family: Verdana !important; 

}

input.type_project.synch-icon + label > span.labelauty-unchecked-image{
  background-image: none;
  background-color: red; 
  display: none !important;
  width: 44px;
  font-family: Verdana !important; 
}
input.type_project:not(:checked):not([disabled]) + label{
  background-image: none;
  background-color: red; 
  color: black;
    float: left;
    line-height: 9px;
    padding: 6px 7px;
    font-family: Verdana !important; 
}
input.type_project:not(:checked):not([disabled]) + label{
  background-image: none;
    background: white none repeat scroll 0 0;
   padding: 6px 0.5px;
   width: 39.5px;
    box-shadow: 1px 1px 3px 0 #a4a4a4;
    color: #4d4d4d;
    font-family: Verdana !important; 
}
.types_list .second{
  margin-top: 4px;
}
.types_list .second li{
   margin-right: 0px;
}
.types_list .second li label {
  padding: 6px 3.5px;
}
input.second:not(:checked):not([disabled]) + label{
  padding: 6px 3.5px;
}

.second li .labelauty-unchecked{
  padding: 0px 8.5px;
}

.second li .labelauty-checked{
  padding: 0px 5.5px;
}

input.sity:not(:checked):not([disabled]) + label{
  padding: 0 !important;
}
.sities_list .labelauty-unchecked-image {
  display: none !important;
}
.sities_list{
  
}
.sities_list .ul {
  margin-right:3px;
   font-size: 12px !important;
}
.sities_list .labelauty-unchecked {
  width: 55px;
}
.sities_list .labelauty-checked {
  width: 60px;
  text-align: left !important;
  float: left;
}
.input.labelauty + label > span.labelauty-unchecked, input.labelauty + label > span.labelauty-checked{
  line-height: 16px;
}
.sities_list label{
  float: left;
  width: 30% !important;
  float: left;
  text-align: left !important;
}
input.big_mg + label{
   margin-right: 3px;
}
.sities_list label{
  width: 32% !important;
  font-size: 12px !important; 
}

input.sity:checked + label{
  padding: 0 !important;
  line-height: 16px !important;
  font-size: 12px !important; 
}

input.sity + label > span.labelauty-unchecked-image + span.labelauty-unchecked, input.sity + label > span.labelauty-checked-image + span .abelauty-checked{
  padding: 0 !important;
  line-height: 16px !important;
  font-size: 12px !important; 
}
.sities_list .labelauty-unchecked{
  line-height: 16px !important;
  font-size: 12px !important; 
}
.filter_section.type{
  line-height: 16px !important;
  clear: both;
}
.sities_list label {
  margin-bottom: 10px;
}
input.home:checked + label{
    background-color: none;
}
.types_deal {
  font-size: 15px;
  font-family: Verdana;
}
h2 {
  font-family: Verdana !important;
}
.no_border{
  border: none !important;
}
.btn .search_subm{
    border: 1px solid #f27321 ;
    border-radius: 12px !important;
    font-size: 15px !important;
    line-height: 11px !important;
    padding: 12px 73px 8px !important;
}
.btn_input {
   padding: 9px 85px;
}
.types_deal{
   padding-top: 15px;
}
.buy_filter .filter_section{
  border: none;
}
.filter_section.type{
  margin-top: 0px;
}
.first_section{
  border: 1px;
  border-radius: 5px 5px 0 0 !important; 
  margin-top: -16px !important;
}
html{
  font-family: Verdana !important;
}
</style>
<div class="buy_filter">
  

  <%= form_tag({controller: "projects", action: "search"}, method: "post") do %>
    <%# render 'filter' %>
    <div class="filter_section type static_menu_section first_section">
      <h2><span class="has-tooltip static_menu" title="">Поиск недвижимости</span></h2>
      <div class="types_deal">
        <input type="radio" name="type_deal" value="sale"> Продажа
        <input type="radio" name="type_deal" value="rent"> Аренда
      </div>
      
    </div>
    <div class="filter_section type">
      
      <h2><span class="has-tooltip" title="">Тип недвижимости</span></h2>
      <div class="types_list">
        <ul>
            <li>
                <input name="1 + 0" class="to-labelauty type_project synch-icon labelauty" type="checkbox"  id="a" style="display: none;"  data-labelauty="1+0">
            </li>
            <li>
                <input name="1 + 1" class="to-labelauty type_project synch-icon labelauty" type="checkbox" id="b" style="display: none;"  data-labelauty="1+1">
            </li>
            <li>
                <input name="2 + 1" class="to-labelauty type_project synch-icon labelauty" type="checkbox" id="c" style="display: none;"  data-labelauty="2+1">
            </li>
            <li>
                <input name="3 + 1" class="to-labelauty type_project synch-icon labelauty" type="checkbox" id="c1" style="display: none;"  data-labelauty="3+1">
            </li>
            <li>
                <input name="4 + 1" class="to-labelauty type_project synch-icon labelauty" type="checkbox" id="c2" style="display: none;"  data-labelauty="4+1">
            </li>
            <li>
                <input name="5 + 1" class="to-labelauty type_project synch-icon labelauty" type="checkbox" id="c3" style="display: none;"  data-labelauty="5+1">
            </li>
        </ul>
         <ul class="second">
            <li>
                <input name="flat" class="to-labelauty type_project big synch-icon labelauty" type="checkbox" id="e" style="display: none;"  data-labelauty="Студия">
            </li>
            <li>
                <input name="penthouse" class="to-labelauty type_project big synch-icon labelauty" type="checkbox" id="f" style="display: none;"  data-labelauty="Пентхауз">
            </li>
            <li>
                <input name="flat_and_penthouse" class="to-labelauty type_project big synch-icon labelauty" type="checkbox" id="g" style="display: none;"  data-labelauty="Вилла">
            </li>
           
        </ul>
      </div>
      
    </div>
     <div class="filter_section type">
      
      <h2><span class="has-tooltip  no_border" title="">Расположение</span></h2>
      <div class="sities_list">
  
          <% @project_categories.each do |project_category| %>

           <input name="sity<%= project_category.id %>" class="to-labelauty sity synch-icon labelauty" type="checkbox" id="project_category<%= project_category.id %>" style="display: none;"  data-labelauty="<%= project_category.title %>">
          <% end %>
      </div>
      
    </div>
     <div class="filter_section type no_border">
      
      <h2><span class="has-tooltip" title="">Цена</span></h2>
      <div class="prices_list">
         <div class="start"><input type="text" name="min_price" size="25" placeholder="цена от &euro;"></div>
         <div class="end"><input type="text" name="max_price"  size="20" placeholder="цена до &euro;"></div>
      </div>
      
    </div>
    <div class="filter_section type no_border">
      
      <h2><span class="has-tooltip" title="">Расстояние до моря</span></h2>
      <div class="filter_label_holder clearfix">
        <div class="distnce_list">
          <ul>
            <li><input name="distance10" class="to-labelauty synch-icon home labelauty" type="checkbox"  id="labelauty3" style="display: none;"  data-labelauty="|">
            <span class="value">10м</span>
          </li>
          <li><input name="distance100" class="to-labelauty synch-icon home labelauty" type="checkbox"  id="labelauty4" style="display: none;"  data-labelauty="|">
          <span class="value">100м</span>
        </li>
        <li><input name="distance200" class="to-labelauty synch-icon home labelauty" type="checkbox"  id="labelauty5" style="display: none;"  data-labelauty="|">
        <span class="value">200м</span>
      </li>
      <li><input name="distance400" class="to-labelauty synch-icon home labelauty" type="checkbox" id="labelauty6" style="display: none;"  data-labelauty="|">
      <span class="value">400м</span>
    </li>
    <li><input name="distance500" class="to-labelauty synch-icon home labelauty" type="checkbox"  id="labelauty7" style="display: none;"  data-labelauty="|">
    <span class="value">500м</span>
  </li>
</ul>
<ul>
  <li><input name="distance800" class="to-labelauty synch-icon home labelauty" type="checkbox"  id="labelauty8" style="display: none;"  data-labelauty="|">
  <span class="value">800м</span>
</li>
<li><input name="distance1000" class="to-labelauty synch-icon home labelauty" type="checkbox" id="labelauty9" style="display: none;"  data-labelauty="|">
<span class="value">1000м</span>
</li>
<li><input name="distance1500" class="to-labelauty synch-icon home labelauty" type="checkbox"  id="labelauty11" style="display: none;"  data-labelauty="|">
<span class="value">1500м</span>
</li>
</ul>
</div>
</div>
</div>

<div class="filter_section submit">
<span class="btn btn_input search_subm">Поиск<i class="input"><input type="submit"/></i></span>
<%= submit_tag("Search") %>
</div>
<% end %>

    <div class="filter_section static_menu_section type no_border">
      
      <h2><span class="has-tooltip  static_menu">Недвижимость в турции</span></h2>
      <div class="filter_label_holder clearfix">
        <div class="static_sities_list">
          <ul >
            <li class="item"><a href="#">Недвижимость в Алании</a></li>
            <li class="sub_item"><a href="#">Алания центр</a></li>
            <li class="sub_item"><a href="#">Авсалар</a></li>
            <li class="sub_item"><a href="#">Конаклы</a></li>
            <li class="sub_item"><a href="#">Оба</a></li>
            <li class="sub_item"><a href="#">Тохмур</a></li>
            <li class="sub_item"><a href="#">Кестель</a></li>
            <li class="sub_item"><a href="#">Махмутлар</a></li>
            <li class="sub_item"><a href="#">Каргыджак</a></li>
            <li class="sub_item"><a href="#">Газипаша</a></li>
            <li class="item"><a href="#">Недвижимость в Антали</a></li>
            <li class="item"><a href="#">Недвижимость в Сиде</a></li>
            <li class="item"><a href="#">Недвижимость в Кемере</a></li>
            <li class="item"><a href="#">Недвижимость в Бордуме</a></li>
            <li class="item"><a href="#">Недвижимость в Белеке</a></li>
            <li class="item"><a href="#">Недвижимость в Каш</a></li>
          </ul>
  </div>
  </div>
  </div> 
      <div class="filter_section static_menu_section type no_border">
      
      <h2><span class="has-tooltip static_menu" title="">Полезная информация</span></h2>
      <div class="filter_label_holder clearfix">
        <div class="static_sities_list">
          <ul >
            <li class="item"><a href="#">Процедура покупки</a></li>
            <li class="item"><a href="#">Что такое ТАПУ ?</a></li>
            <li class="item"><a href="#">Оформление вида на жительство</a></li>
            <li class="item"><a href="#">Ипотечное кредитование</a></li>
            <li class="item"><a href="#">Наследование</a></li>
            <li class="item"><a href="#">Прибыль от аренды</a></li>
            <li class="item"><a href="#">О Турции</a></li>
          </ul>
  </div>
  </div>
  </div> 

      <div class="filter_section static_menu_section type no_border">
      
      <h2><span class="has-tooltip static_menu" title="">Наши услуги</span></h2>
      <div class="filter_label_holder clearfix">
        <div class="static_sities_list">
          <ul >
            <li class="item"><a href="#">Обслуживание квартир после покупки</a></li>
            <li class="item"><a href="#">Страхование недвижимости</a></li>
            <li class="item"><a href="#">Сдать в аренду</a></li>
            <li class="item"><a href="#">Ремонт квартир и вилл</a></li>
            <li class="item"><a href="#">Трансфер из/в аэропорт</a></li>
            <li class="item"><a href="#">Аренда автомобиля</a></li>
          </ul>
  </div>
  </div>
  </div> 

  <div class="filter_section static_menu_section type no_border">
      
      <h2><span class="has-tooltip static_menu" title="">Наши достижения</span></h2>
      <div class="filter_label_holder clearfix">
        <div class="static_sities_list">
          <ul >
            <li class="item"><a href="#">Отзывы клиентов</a></li>
            <li class="item"><a href="#">Участие в выставках</a></li>
          </ul>
        </div>
      </div>
  </div>    
  <div class="filter_section static_menu_section type no_border">
      
      <h2><span class="has-tooltip static_menu" title="">Контакты</span></h2>
      <div class="filter_label_holder clearfix">
        <div class="static_sities_list">
          <ul >
            <li class="item"><a href="#">Офис в Турции</a></li>
            <li class="item"><a href="#">Офис в Москве</a></li>
          </ul>
  </div>
  </div>
  </div>

    <div class="filter_section static_menu_section type no_border">
      <div class="banners">
        <div class="banner">
          <img src="/test2/1.png" class="sidebar_banner">
          <a href="#" class="title">Бесплатный ознакомительный тур</a>
        </div>
        <div class="banner">
          <img src="/test2/2.png" class="sidebar_banner">
          <a href="#" class="title">Все о Турции</a>
        </div>  
      </div>   

   </div>


</div>