<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag "application", :media => "screen, projection" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="/src/jquery-latest.min.js"></script>
  <script type="text/javascript" src="/src/jquery-labelauty.js"></script>
  <script type="text/javascript" src="/js/jquery.leanModal.min.js"></script>

  <link rel="stylesheet" href="/src/jquery-labelauty.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/src/lby-main.css" type="text/css" media="screen" charset="utf-8">

  <link type='text/css' href='/css/demo.css' rel='stylesheet' media='screen' />
  <link type='text/css' href='/css/basic.css' rel='stylesheet' media='screen' />


  <script>
    $(document).ready(function(){
      $(".to-labelauty").labelauty({ checked_label: "value1", unchecked_label: "value2",  });
      $(".to-labelauty").sity({minimum_width: "52px" });
    });

    
  </script>

</head>

<body>
<!-- BEGIN wrapper-->
<div class="wrapper min_width">

<div class="header clearfix no-print main_nav" >
<a title="Alanya Properties" class="logo" href="/"><img src="/logo.png" alt="Alanya Properties Logo">
</a>

<div class="before_nav">
  <div class="phones">
    <span class= "phone">Телефон для всех регионов России: +7 123 456 78</span>
    <span class= "phone">Телефон в Турции: +7 123 456 78</span>
    <span class= "phone">Телефон в Москве: +7 123 456 78</span>
  </div>
</div>

<nav role='navigation'>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a>
      <ul>
        <li><a href="">Our team</a></li>
        <li><a href="">History</a></li>
         <li><a href="">Our team</a></li>
        <li><a href="">History</a></li>
      </ul>
    </li>
    <li><a href="#">Clients</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</nav>  

</div>
  <!-- END header-->

  <!-- BEGIN content-->
  <div class="content <%= @content_class %>">
    <%= yield %>
  </div>
  <!-- END content-->

  <!-- BEGIN footer-->
  <div class="footer">
    <div class="inner clearfix">
      <ul class="fot_nav">
        <li class="li"><a href="#">Купить</a></li>
        <li class="li"><a href="#">Купить</a></li>
        <li class="li"><a href="#">Купить</a></li>
        <li class="li"><a href="#">Купить</a></li>
      </ul>
      <div class="fright">
        <i class="fot_separ"></i>

        <div class="phone">Телефон : 123456</div>
        <i class="fot_separ"></i>
        <a class="icon fot_rss" href="#" title="RSS Feed"></a>
        <i class="fot_separ"></i>
        <a class="icon fot_fb" href="#" title="Facebook Page" target="_blank"></a>
      </div>
    </div>
    <div class="copyright">Копирайт</div>
  </div>
  <!-- END footer-->
</div>
<!-- END wrapper-->


<table class="popup_table hide">
  <tr>
    <td class="pt_td">
      <!-- !!! popup_leaveorder -->
      <!--<script>visible_popup       = 'popup';</script>-->
      <div class="popup clearfix">
        Popup
        <i class="close"></i>
      </div>
      <div class="back none" id="back"></div>

    </td>
  </tr>
</table>


</body>
</html>
