<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag "application", :media => "screen, projection" %>

  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>


 <link rel="stylesheet" href="/src/jquery-labelauty.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/src/lby-main.css" type="text/css" media="screen" charset="utf-8">

  <link type='text/css' href='/css/demo.css' rel='stylesheet' media='screen' />
  <link type='text/css' href='/css/basic.css' rel='stylesheet' media='screen' />

   <link href="/owl.carousel.css" rel="stylesheet">
   <link href="/owl.theme.css" rel="stylesheet">


</head>

<body>
<!-- BEGIN wrapper-->
<div class="wrapper min_width">

<div class="header clearfix no-print main_nav" >


<div class="before_nav">
  
  <div class="other">
    <span class="mail"><img src="/src/email_open.png">info@alanypropetries.com</span>
    <span class="skype_in_head"><img src="/src/skype.png">alanypropetries</span>  
  </div>
  <div class="phones">
    <span class= "phone">Телефон для всех регионов России: +7 123 456 78</span>
    <span class= "phone">Телефон в Турции: +7 123 456 78</span>
    <span class= "phone">Телефон в Москве: +7 123 456 78</span>
  </div>
</div>

<nav role='navigation'>
<a title="Alanya Properties" class="logo" href="/"><img src="/logo.png" alt="Alanya Properties Logo">
</a>
  <ul>
    <% @main_menu.menu_items.order(:position).each do |main_item| %>
      <% if main_item.menu_item_id == 0 %>
        <% if main_item.menu_items.count > 0 %>
        <li><a href="<%= main_item.link %>"><%= main_item.title %></a>
          <ul>
             <% main_item.menu_items.order(:position).each do |second_level_item| %>
              <% if second_level_item.sub_two == true  %>
                <li><a class="sub" href="<%= second_level_item.link %><"><%= second_level_item.title %></a></li>
              <% else %>
                <li><a href="<%= second_level_item.link %>"><%= second_level_item.title %></a></li>
              <% end %>
            <% end %>
          </ul>
        </li>  
        <% else %>
             <li><a href="<%= main_item.link %>"><%= main_item.title %></a></li>
        <% end %>
      <% end %>  
    <% end %>
  </ul>
</nav>  

</div>
  <!-- END header-->

  <!-- BEGIN content-->
  <div class="content ">
    <%= yield %>
  </div>
  <!-- END content-->

  <!-- BEGIN footer-->
  <div class="footer">

  <div class="menu">

    <div class="row">
      <ul>
        <% @footer_menu1.menu_items.each do |menu_item| %>
          <li><a href="<%= menu_item.link %>"><%= menu_item.title %></a></li>
        <% end %>  
      </ul>
    </div>
    <div class="row">

      <ul>
        <% @footer_menu2.menu_items.each do |menu_item| %>
          <li><a href="<%= menu_item.link %>"><%= menu_item.title %></a></li>
        <% end %>  
      </ul>
    </div>
    <div class="row">

      <ul>
        <% @footer_menu3.menu_items.each do |menu_item| %>
          <li><a href="<%= menu_item.link %>"><%= menu_item.title %></a></li>
        <% end %>  
      </ul>
    </div>
    <div class="row">

      <ul>
        <% @footer_menu4.menu_items.each do |menu_item| %>
          <li><a href="<%= menu_item.link %>"><%= menu_item.title %></a></li>
        <% end %>  
      </ul>
    </div>
    <div class="row">

      <ul>
        <% @footer_menu5.menu_items.each do |menu_item| %>
          <li><a href="<%= menu_item.link %>"><%= menu_item.title %></a></li>
        <% end %>  
      </ul>
    </div>
    <div class="row">
      <ul>
        <% @footer_menu6.menu_items.each do |menu_item| %>
          <li><a href="<%= menu_item.link %>"><%= menu_item.title %></a></li>
        <% end %>  
      </ul>
    </div>
</div>

  </div>
  <!-- END footer-->
</div>
<!-- END wrapper-->


<table class="popup_table hide">
  <tr>
    <td class="pt_td">
      <!-- !!! popup_leaveorder -->
      <!--<script>visible_popup       = 'popup';</script>-->
      <div class="popup clearfix">
        Popup
        <i class="close"></i>
      </div>
      <div class="back none" id="back"></div>

    </td>
  </tr>
</table>

<script type="text/javascript">
  
$(document).ready(function() {




            $("a#example1").fancybox({
                'overlayShow'   : false,
                'transitionIn'  : 'elastic',
                'transitionOut' : 'elastic'
            });

            $("a#example2").fancybox({
                'overlayShow'   : false,
                'transitionIn'  : 'elastic',
                'transitionOut' : 'elastic'
            });

            $("a#example3").fancybox({
                'transitionIn'  : 'none',
                'transitionOut' : 'none'    
            });

            $("a#example4").fancybox({
                'opacity'       : true,
                'overlayShow'   : false,
                'transitionIn'  : 'elastic',
                'transitionOut' : 'none'
            });

            $("a#example5").fancybox();

            $("a#example6").fancybox({
                'titlePosition'     : 'outside',
                'overlayColor'      : '#000',
                'overlayOpacity'    : 0.9
            });

            $("a#example7").fancybox({
                'titlePosition' : 'inside'
            });

            $("a#example8").fancybox({
                'titlePosition' : 'over'
            });

            $("a[rel=example_group]").fancybox({
                'transitionIn'      : 'none',
                'transitionOut'     : 'none',
                'titlePosition'     : 'over',
                'titleFormat'       : function(title, currentArray, currentIndex, currentOpts) {
                    return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
                }
            });

            /*
            *   Examples - various
            */

            $("#various1").fancybox({
                'titlePosition'     : 'inside',
                'transitionIn'      : 'none',
                'transitionOut'     : 'none'
            });

            $("#various2").fancybox();

            $("#various3").fancybox({
                'width'             : '75%',
                'height'            : '75%',
                'autoScale'         : false,
                'transitionIn'      : 'none',
                'transitionOut'     : 'none',
                'type'              : 'iframe'
            });

            $("#various4").fancybox({
                'padding'           : 0,
                'autoScale'         : false,
                'transitionIn'      : 'none',
                'transitionOut'     : 'none'
            });
});
</script>

</body>
</html>