<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag "application", :media => "screen, projection" %>

  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>

<body>
<!-- BEGIN wrapper-->
<div class="wrapper min_width">

<div class="header clearfix no-print main_nav" >


<div class="before_nav">
  
  <div class="other">
    <span class="mail"><img src="/src/email_open.png"><%= @head_variables.where(descriptor: "email").first.value %></span>
    <span class="skype_in_head"><img src="/src/skype.png"><%= @head_variables.where(descriptor: "skype").first.value %></span>  
  </div>
  <div class="phones">
    <span class= "phone">Телефон для всех регионов России: <%= @head_variables.where(descriptor: "phone_all_ru").first.value %></span>
    <span class= "phone">Телефон в Турции:  <%= @head_variables.where(descriptor: "phone_turk").first.value %></span>
    <span class= "phone">Телефон в Москве:  <%= @head_variables.where(descriptor: "phone_msk").first.value %></span>
  </div>
</div>

<nav role='navigation'>
<a title="Alanya Properties" class="logo" href="/"><img src="/logo.png" alt="Alanya Properties Logo">
</a>
  <ul>
    <% @main_menu.menu_items.order(:position).each do |main_item| %>
      <% if main_item.menu_item_id == 0 %>
        <% if main_item.menu_items.count > 0 %>
        <li><a href="<%= main_item.link %>"><%= main_item.title %></a>
          <ul>
             <% main_item.menu_items.order(:position).each do |second_level_item| %>
              <% if second_level_item.sub_two == true  %>
                <li><a class="sub" href="<%= second_level_item.link %>"><%= second_level_item.title %></a></li>
              <% else %>
                <li><a href="<%= second_level_item.link %>"><%= second_level_item.title %></a></li>
              <% end %>
            <% end %>
          </ul>
        </li>  
        <% else %>
             <li><a href="<%= main_item.link %>"><%= main_item.title %></a></li>
        <% end %>
      <% end %>  
    <% end %>
  </ul>
</nav>  

</div>
  <!-- END header-->

  <!-- BEGIN content-->
  <div class="content ">
    <%= yield %>
  </div>
  <!-- END content-->

  <!-- BEGIN footer-->
  <div class="footer">

  <div class="menu">

    <div class="row">
      <ul>
        <% @footer_menu1.menu_items.each do |menu_item| %>
          <li><a href="<%= menu_item.link %>"><%= menu_item.title %></a></li>
        <% end %>  
      </ul>
    </div>
    <div class="row">

      <ul>
        <% @footer_menu2.menu_items.each do |menu_item| %>
          <li><a href="<%= menu_item.link %>"><%= menu_item.title %></a></li>
        <% end %>  
      </ul>
    </div>
    <div class="row">

      <ul>
        <% @footer_menu3.menu_items.each do |menu_item| %>
          <li><a href="<%= menu_item.link %>"><%= menu_item.title %></a></li>
        <% end %>  
      </ul>
    </div>
    <div class="row">

      <ul>
        <% @footer_menu4.menu_items.each do |menu_item| %>
          <li><a href="<%= menu_item.link %>"><%= menu_item.title %></a></li>
        <% end %>  
      </ul>
    </div>
    <div class="row">

      <ul>
        <% @footer_menu5.menu_items.each do |menu_item| %>
          <li><a href="<%= menu_item.link %>"><%= menu_item.title %></a></li>
        <% end %>  
      </ul>
    </div>
    <div class="row">
      <ul>
        <% @footer_menu6.menu_items.each do |menu_item| %>
          <li><a href="<%= menu_item.link %>"><%= menu_item.title %></a></li>
        <% end %>  
      </ul>
    </div>
</div>

  </div>
  <!-- END footer-->
</div>
<!-- END wrapper-->


<table class="popup_table hide">
  <tr>
    <td class="pt_td">
      <!-- !!! popup_leaveorder -->
      <!--<script>visible_popup       = 'popup';</script>-->
      <div class="popup clearfix">
        Popup
        <i class="close"></i>
      </div>
      <div class="back none" id="back"></div>

    </td>
  </tr>
</table>



</body>
</html>